main {
    display: flex;
    flex-direction: column;
    gap: var(--content-gap);
}

.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    gap: var(--content-gap);
}

.header-logo {
    width: 4.5rem;
    object-fit: cover;
    transform: rotate(-10deg);  
    right: 0.5rem;
    top: 0.5rem;
    position: absolute;
}

.header-text {
    color: var(--primary-color);
}

.warning-text {
    display: none; /* triggered visible on user focus of textarea input */
    color: var(--warning-color);
    font-size: clamp(1.2rem, 2vw, 1.4rem);
}

.reminder-length-error-message {
  display: none;
  color: var(--warning-color);

}

/* applied to all reminder(s), input, and button when in editting mode */
.disabled {
    pointer-events: none; 
    opacity: 0.5; 
}


.reminder-form {
    display: flex;
    flex-direction: column;
    gap: var(--content-gap);
    position: relative;
}

.reminder-input-text {
    width: 100%;
    resize: none;
    padding: 1rem;
    padding-top: 2rem;  
    outline: none;
    border: none;  
    background-color: white;
    border-radius: var(--border-radius);
}

.reminder-input-text:focus {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 0.1rem solid var(--primary-color);
    outline: none;
}

.label-warning {
    position: absolute;
    top: 0; 
    left: 1rem; 
    font-size: 1rem;
    visibility: hidden;  /* hide by default */
    transition: visibility 0.1s, color 0.3s;
}

.reminder-input-text:focus + .label-warning {
    visibility: visible;
    color: var(--warning-color); 
}

.input-error::after {
    content: attr(data-error-message); /* Display error message from data attribute */
    color: var(--warning-color);
    position: absolute;
    background: var(--font-color);
    padding: 0.5rem;
    border-radius: var(--border-radius);
    top: -4rem; 
    left: 0; 
    white-space: nowrap; 
    display: block;
    z-index: 10;
    font-size: 1.45rem;
}

.input-error {
    animation: gentle-shake 0.8s ease-in-out;
    border: 0.1rem solid var(--warning-color); 
}

@keyframes gentle-shake {
    0%, 100% { transform: translateX(0); }
    20%, 80% { transform: translateX(-5px); }
    40%, 60% { transform: translateX(5px); }
}








