.icon-container {
    display: flex;
    gap: var(--content-gap);
}

.icon, .icon-edit, .icon-delete {
    width: 1.6rem;
    height: 1.6rem;
    cursor: pointer;
}

.icon-delete{
    right: 0.25rem;
    top: 0.25rem;
    position: absolute;
    z-index: 10; 
}

.icon-delete:hover{
    color: var(--warning-color);
  
}

.icon-edit, .icon-save {
    right: 1.4rem;
    top: 0.75rem;
    position: absolute; 
}

.icon-save {
    width: 1.8rem;
    height: 1.8rem;
    cursor: pointer;
    animation: pulse-animation 4s infinite;
    color: var(--secondary-accent-color);
}

@keyframes pulse-animation {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    50% {
        transform: scale(1.1);
        opacity: 0.7;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}
