.icon-container {
    display: flex;
    gap: var(--content-gap);
}

.icon, .icon-edit, .icon-delete {
    width: 1.6rem;
    height: 1.6rem;
    cursor: pointer;
}

.icon-delete{
    right: 0rem;
    top: -0.3rem;
    position: absolute;
    z-index: 10;
}

.icon-delete:hover{
    width: 1.8rem;
    height: 1.8rem;
   
}

.icon-edit {
    right: 2.5rem;
    top: 1.5rem;
    position: absolute; 
}

.icon-save {
    width: 1.8rem;
    height: 1.8rem;
    cursor: pointer;
    right: 2rem;
    top: 1.5rem;
    position: absolute;
    animation: pulse-animation 2s infinite;
}

@keyframes pulse-animation {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    50% {
        transform: scale(1.1);
        opacity: 0.7;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}
