.reminders-list {
    display: flex;
    flex-direction: column;
    gap: var(--content-gap); 
    padding: 0; 
    box-sizing: border-box; 
}

.reminder-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--content-gap);
    justify-content: space-between;
    font-weight: 800;
    background: linear-gradient(to bottom, #ffffff 0%, var(--background-color) 100%);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15); 
    border-radius: var(--border-radius); 
    position: relative;
    outline: none;
    overflow-x: hidden;
    text-wrap: wrap;
    word-break: break-all;
}



.date-stamp {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 2.5rem;
    padding-left: 2rem;
    width: 8rem;
    pointer-events: none;
}

.month {
    width: 4rem;
    font-size: 1rem;
    font-weight: bold;
    pointer-events: none;
}

.day-year {
    width: 4rem;
    font-size: 0.9rem;
    pointer-events: none;
}
