/* vars.css */
:root {
    /* Color scheme */
    --primary-color: #34A7A2; /* A slightly deeper teal reminiscent of tropical waters */
    --secondary-color: #80D1F4; /* A soft sky blue for a clean, calming effect */
    --accent-color: #FF9472; /* A warm coral to complement the cooler primary tones */
    --background-color: #E5F4F9; /* A very light blue, almost white, for background areas */
    --warning-color: #FFA500;
    --btn-color: #58BFBF ; /* A medium teal for buttons, providing more contrast with the primary color */

    /* Typography color schemes */
    --font-color: #333333; /* A dark gray for readability instead of stark white */

    /* Actions */
    --hover-color: #FCE2C4; /* A light, warm peach for hover effects, giving a soft and inviting feel */
    --hover-transition: 0.5s ease-in-out;

    /* Borders */
    --border-radius: 0.5rem;

    /* Gaps */
    --content-gap: 1rem;
}


