/* vars.css */
:root {
    /* Color scheme */
    --primary-color: #5C80BC; 
    /* --secondary-color: #80D1F4; */ 
    --accent-color: #379634; 
    --background-color: #E8F0FE;
    --disabled-color: #ECEFF1;
    --warning-color:  #AD343E;
    --btn-color: #5C80BC ; 

    /* Typography color schemes */
    --font-color: #0F1A20; 

    /* Actions */
    --hover-color: #379634; 
    --hover-transition: 0.5s ease-in-out;

    /* Borders */
    --border-radius: 0.5rem;

    /* Gaps */
    --content-gap: 1rem;
}


