/* vars.css */
:root {
    /* Color scheme */
    --primary-color: #007BFF;       
    --accent-color: #FF4136;        
    --secondary-accent-color: #2ECC40; 
    --background-color: #FFFFFF;   
    --font-color: #333333;         
    --disabled-color: #ECEFF1;      
    --warning-color: #FF4136;       
    --btn-color: #007BFF;           

    /* Actions */
    --hover-color: #0056b3;  
    --hover-transition: 0.5s ease-in-out;

    /* Borders */
    --border-radius: 0.5rem;

    /* Gaps */
    --content-gap: 1rem;
}


